# Instructions pour exécuter le service de recommandation :
# cd ml-service
# python -m venv venv    (To create the environment : only for the first time)
# source venv/Scripts/activate   # Linux/macOS
# venv\Scripts\activate          # Windows
# pip install -r requirements.txt   (only for the first time)
# python app.py

FAST_PORT=8000    # Default ML service port
FAST_HOST=0.0.0.0
BACKEND_URL=http://127.0.0.1:4040

# FAST_PORT= when running "python app.py"
# FAST_HOST= only a bind host or ip, for example 0.0.0.0 or 127.0.0.1
# BACKEND_URL= if your backend runs on the same PC, prefer http://127.0.0.1:4040
