EXPO_PUBLIC_API_URL_SANS_API=backend_URL
EXPO_PUBLIC_API_URL=${EXPO_PUBLIC_API_URL_SANS_API}/api
EXPO_PUBLIC_LOCATIONIQ_API_KEY=your_real_locationiq_token_here


# Optional: only set this if Expo Go must use a specific IP/hostname for Metro.
# Leave it empty in most cases so Expo detects the correct host automatically.
EXPO_PACKAGER_HOSTNAME=


# ::::::::::::::: Instructions :::::::::::::::
# LocationIQ API Key
# 1. Go to https://locationiq.com and create a free account
# 2. Go to your Dashboard → Access Tokens
# 3. Copy your token and paste it below
