# Select all text files, ignore binary files (ex: .mp4 .png ...etc)
* text=auto

# Force all code/config files to use LF line endings for compatibility with Linux enviromnents
# And because some of us use Windows and others use Linux
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.py text eol=lf
*.sql text eol=lf
*.toml text eol=lf
*.sh text eol=lf
*.env text eol=lf
