node_modules
ml-service/lightfm_data/
face-recognition-service/venv
face-recognition-service/.env
__pycache__/
*.pyc
face-recognition-service/data/
face-recognition-service/.env.backup
frontend/android/
ocr-service/venv
*.env.backup