# This is a template. Copy to .env and replace values below.

# Server configuration
PORT=4040               # Default backend port
BACKEND_URL=http://localhost:${PORT}

# Database configuration
DATABASE_URL=postgresql://postgres:${your_postgresql_password}@localhost:5432/${your_db_name}

# Security / Authentication
JWT_SECRET=your_secret_key_for_jwt
JWT_EXPIRES_IN=7d
ENCRYPTION_KEY=your_encryption_key_of_32_characters

# Machine Learning service
ML_PORT=8000            # Default ML service port    
ML_SERVICE_URL=http://localhost:${ML_PORT}

# Networking / Frontend
FRONTEND_PORT=8081      # Default frontend port     
NETWORK_IP=your_computer_ip_address    
FRONTEND_URL=http://${NETWORK_IP}:${FRONTEND_PORT}

# External APIs
EXPO_PUBLIC_LOCATIONIQ_API_KEY=your_real_locationiq_token_here


# :::::::::::: Instructions ::::::::::::

# PORT : Check the message when running `node index.js` -> "SERVER IS LIVE : Network : _port_is_here_"
# JWT_SECRET : Generate it from here : https://generate-secret.vercel.app/32
# JWT_EXPIRES_IN : 7 Days, means the user stays logged in 7 days.
# ML_PORT : Check the Uvicorn startup message when running `py app.py` -> "Uvicorn running on http://127.0.0.1:_port_is_here_"
# ENCRYPTION_KEY : Generate it by this in CMD terminal : node -e "console.log(require('crypto').randomBytes(32).toString('hex').slice(0,32))"
# NETWORK_IP : CMD terminal : ipconfig -> Adresse IPV4
# EXPO_PUBLIC_LOCATIONIQ_API_KEY : LocationIQ API Key :
#   1. Go to https://locationiq.com & create a free account
#   2. Go to your Dashboard → Access Tokens
#   3. Copy your token and paste it below